<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="service_param_file" value="\\uhmc-fs-share\shares\RadOnc\Planning\Physics QA\CTQA\MPC\service_param.txt"/>
  </appSettings>
</configuration>